nav ul {
    background-color:PaleVioletRed;
    list-style:none;
    padding:0;
    width:200px;
    border: 1px solid MediumVioletRed;
    
}

nav ul li {
    border-bottom:1px solid MediumVioletRed;
    padding:5px;
}

